<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>



<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="Assets/images/NelsonGarcia.jpg" class="img-fluid rounded-start" alt="Nelsons Photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nelson Garcia</h5>
        <p class="card-text">Hell, my name is Nelson Garcia, I am a second-year student at Centennial college. I am in the Software Engineering Technician program. I have always been interested in computers and software.  At this stage in my life I needed a change and what better way then to go in to a field that is of interest.  </p>
      </div>
    <a href="/Assets/images/Resume 2020.pdf">Resume</a>.</p>
    </div>
  </div>
</div>



<style>
body {
  background-image: url("Assets/images/aboutpage.jpg");
  background-color: #cccccc67;
  background-repeat: no-repeat;
  background-size: cover;
 
 }
</style>