<div class="container">
        <h2>Welcome to the <strong><%= title %></strong> page</h2>
</div>


<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h1 class="card-text">Branding, advertising, design, and art are all things we do.
        We do it for the clients, ourselves, and the pleasure of it.</h1>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Mission Statment</h5>
    <h5 class="card-text">Our mission is to provide state of the art design in each of the fields<br>
     we provide services in for individual's or companies by staying on<br>
      top of all new changes and upgrades with in the industry</h5>
    <a href="/about" class="btn btn-primary">About Us</a>
    <a href="/contact" class="btn btn-primary">Contact Us</a>
  </div>
  <div class="card-footer text-muted">
   
  </div>
</div>

<style>

.card{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 170px;
  margin-left: 100px;
        
}
h1{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h5{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
body {
  background-image: url("Assets/images/StudentHomePage.jpg");
  background-color: hsla(216, 87%, 22%, 0.541);
  background-repeat: no-repeat;
  background-size: cover;
  color:#000000;
 
 }
.card {
        background-color: #063d917c; 
}
.btn-primary{
        color:hsl(0, 0%, 0%);
        background-color: #1460d369;
}

</style>