<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>
<div id=blocks>
<div class="card text-dark bg-secondary mb-3" >
  <h5 class="card-header">Appointment Booking System</h5>
  <div class="card-body">
    <h5 class="card-title">Future Project</h5>
    <p class="card-text">The client would like an online appointment booking system that will allow his cutomers to book appointments via an online portal. This portal will also keep him updated with any new or changes to any appointments
    </p>
  </div>
  <div class="card text-dark bg-secondary mb-3">
  <h5 class="card-header">Product Tracking System</h5>
  <div class="card-body">
    <h5 class="card-title">Future Project</h5>
    
    <p class="card-text">The customer would like a program that will allow them to track products with in their location. This program will allow the user to enter new products to the database and keep track of all inventory</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a> for future use -->
  </div>
</div>
<div class="card text-dark bg-secondary mb-3">
  <h5 class="card-header">Student Home Page </h5>
  <div class="card-body">
    <h5 class="card-title">Student Web Page</h5>
    <p class="card-text">This is a collection of all the web pages that I created in first and second semester at Centennial College while in the Software Engineering Technician program </p>
    <a href="http://studentweb.cencol.ca/ngarci11/index.html" class="btn btn-dark">Go to Homepage</a>
  </div>
</div>
</div>
<style>

body {
 background-image: url("Assets/images/code.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;

}
.card-text{
  text-align: center;
}
h1{
  color:rgb(180, 201, 219);
  text-shadow: 2px 2px 5px rgb(28, 3, 139)
}
h5{
  color:rgb(16, 16, 17);
  text-shadow: 2px 2px 5px rgb(28, 3, 139)
}
.card-header{
  background-color:  #56535f46;
  color:rgb(239, 239, 247);
}
.card-body{
  background-color:#71737425;
}
</style>