<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>
<div class="info">
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Web Page Design
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Web design will create and code internet sites and web pages, many of which combine text with sounds, pictures, graphics, and video clips. A web designer is responsible for creating the design and layout of a website or web pages. It and can mean working on a brand new website or updating an already existing site.
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Software Design
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">The process of creating (digital or physical) products that are helpful, simple to use, and enjoyable to interact with is known as software design. It's all about improving people's experiences while dealing with your product and ensuring that they find value in what you're offering.
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Mobile Application Design
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">We offer custom development services for mobile applications. This includes expert business analysis, design and development of your mobile application from idea to launch, integrating the new product into your infrastructure, and providing further optimization and scaling as needed.</div>
    </div>
  </div>
</div>


<style>
body {
 background-image: url("Assets/images/software.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;

}
.info{
  padding: 50px;
  border-radius: 60px;
}
h1{
  color:rgb(180, 201, 219);
  text-shadow: 2px 2px 5px rgb(28, 3, 139)
}
.accordion-item{
  background-color:rgba(9, 9, 10, 0.356);
  background-repeat: no-repeat;
 background-size: cover;
 color:rgb(239, 239, 247);
}
.accordion-button {
  background-color:  #3116ac63;
  color:rgb(239, 239, 247);
}
h2{
  background-color:rgba(9, 9, 10, 0.356);
}

</style>